pipeline/Orchestrate_DATA.json
{
	"name": "Orchestrate_DATA",
	"properties": {
		"activities": [
			{
				"name": "Orchestration_pipeline",
				"description": "This flow is to orchestrate the data ",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRCSALES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"columnCount",
						"exists",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "orchestrate_stored_procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Orchestration_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[STORE_FILEMETADATA]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('Orchestration_pipeline').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('Orchestration_pipeline').output.lastModified",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecInsertDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "ORCHESTRATE_DATAPIPELINES"
		},
		"annotations": []
	}
}