pipeline/OrchestrationPart2-controls.json
{
	"name": "OrchestrationPart2-controls",
	"properties": {
		"activities": [
			{
				"name": "Orchestrate-part2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_ORCHESPART2_CONTROLS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FLT_SALES_FILE_ORCHESPART2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Orchestrate-part2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Orchestrate-part2').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith( item().name ,'Sales')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FORLOOP-READ-FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FLT_SALES_FILE_ORCHESPART2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FLT_SALES_FILE_ORCHESPART2').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "orchest-part2-foreach-storeproce",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[STORE_FILEMETADATA]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecInsertDate": {
										"value": {
											"value": "@convertFromUtc(utcnow(),'Pacific Standard Time')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "orchestratepart2-IFCONTROL",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "orchest-part2-foreach-storeproce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(0,0)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Orchestrate-Part2-controls-pipeline"
		},
		"annotations": []
	}
}