pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "sparkclusterlookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "sparkclusterdemofileparameters",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetvarforInputfilelocation",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sparkclusterlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputFileLocation",
					"value": {
						"value": "@activity('sparkclusterlookup').output.firstRow.inputFilelocation",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetvarforOutputlocation",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sparkclusterlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutputFileLocation",
					"value": {
						"value": "@activity('sparkclusterlookup').output.firstRow.outputfilelication",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"InputFileLocation": {
				"type": "String"
			},
			"OutputFileLocation": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sparkclusterdemo"
		},
		"annotations": []
	}
}