mysgatDatafactoryDemo/PartialArmTemplates/ArmTemplate_4_5_2021_8_5_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mysgatDatafactoryDemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OrchestrationPart2-controls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Orchestrate-part2",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_ORCHESPART2_CONTROLS",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems",
								"itemName",
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FLT_SALES_FILE_ORCHESPART2",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Orchestrate-part2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Orchestrate-part2').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith( item().name ,'Sales')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FORLOOP-READ-FILES",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FLT_SALES_FILE_ORCHESPART2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FLT_SALES_FILE_ORCHESPART2').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "orchest-part2-foreach-storeproce",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[STORE_FILEMETADATA]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"LastModifiedDate": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecInsertDate": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'Pacific Standard Time')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Orchestrate-Part2-controls-pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SRC_ORCHESPART2_CONTROLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_ORCHESPART2_CONTROLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Demo1",
						"container": "myadfdemo1container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDInsightClusterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HDInstight-Hive",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "hdinsightcluster/scripts/partitionweblogs.hql",
							"defines": {
								"inputfilelocation": "wasbs://hdinsightcluster@myadfdemo1.blob.core.windows.net/input_folder/input.log",
								"outputfilelication": "wasbs://hdinsightcluster@myadfdemo1.blob.core.windows.net/Output/weblogstransformed"
							},
							"scriptLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDInsightcluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "HDInsight_cluster_pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HDInsightcluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDInsightcluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://sgatmyhdclusterandelaguru.azurehdinsight.net",
					"userName": "andelaguru",
					"password": {
						"type": "SecureString",
						"value": "**********"
					},
					"isEspEnabled": false,
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		}
	]
}