mysgatDatafactoryDemo/PartialArmTemplates/ArmTemplate_4_10_2021_21_23_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mysgatDatafactoryDemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/HDInsightcluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://SGAT-SPARK-CLUSTER.azurehdinsight.net",
					"userName": "andelaguru",
					"password": {
						"type": "SecureString",
						"value": "**********"
					},
					"isEspEnabled": false,
					"linkedServiceName": {
						"referenceName": "sparkclusterdemofileparameters",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sparkclusterdemofileparameters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sparkclusterdemofileparameters",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sparkclusterdemo"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "input_data_spark_Location.txt",
						"container": "sparkdemoiofiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inputFilelocation",
						"type": "String"
					},
					{
						"name": "outputfilelication",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sparkclusterlookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "sparkclusterdemofileparameters",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "SetvarforInputfilelocation",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "sparkclusterlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "InputFileLocation",
							"value": {
								"value": "@activity('sparkclusterlookup').output.firstRow.inputFilelocation",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetvarforOutputlocation",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "sparkclusterlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "OutputFileLocation",
							"value": {
								"value": "@activity('sparkclusterlookup').output.firstRow.outputfilelication",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SparkActivityForProcessing",
						"type": "HDInsightSpark",
						"dependsOn": [
							{
								"activity": "SetvarforInputfilelocation",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetvarforOutputlocation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "sparkdemoiofiles",
							"entryFilePath": "WordCount_Spark.py",
							"arguments": [
								"@variables('InputFileLocation')",
								"@variables('OutputFileLocation')"
							],
							"getDebugInfo": "Always",
							"sparkJobLinkedService": {
								"referenceName": "sparkclusterdemofileparameters",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDInsightcluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"InputFileLocation": {
						"type": "String"
					},
					"OutputFileLocation": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sparkclusterdemo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sparkclusterdemofileparameters')]",
				"[concat(variables('factoryId'), '/linkedServices/HDInsightcluster')]"
			]
		}
	]
}